@import '_bulma_vars.scss';
@import '_bulma_derived_vars.scss';


html, body {
    height: 100%;
}

.link-edit {
    .column:first-child {
        background-color: $light;
        border-right: 1px solid $dark;
    }
    .column:last-child {
        //border-left: 1px solid aqua;
    }
}

.link {
    font-family: monospace;
}

img.qrcode {
    max-width: 270px;
    width: 270px;
    min-height: 270px;
    image-rendering: pixelated;
    vertical-align: middle;
}

.hero-foot.is-info {
    background-color: hsl(217, 71%, 53%);
}


