html, body {
  height: 100%; }

.link-edit .column:first-child {
  background-color: whitesmoke;
  border-right: 1px solid #363636; }

.link {
  font-family: monospace; }

img.qrcode {
  max-width: 270px;
  width: 270px;
  min-height: 270px;
  image-rendering: pixelated;
  vertical-align: middle; }

.hero-foot.is-info {
  background-color: #3273dc; }
